@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:binhSupport@example.com">binhSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:binhMarketing@example.com">binhMarketing@example.com</a>
</address>