@{
    ViewBag.Title = "Edit";
}

<div>
    <label>Transaction Date: </label>
    <input type="text" id="txtTransactionDate" />
</div>
<div>
    <label>Description: </label>
    <input type="text" id="txtDescription" />
</div>
<div>
    <label>Amount: </label>
    <input type="number" id="numAmount" />
</div>
<div>
    <label>Notes: </label>
    <input type="text" id="txtNotes" />
</div>